<nav>
    <md-toolbar>
        <span class="brand"><a routerLink="/">OurEvents</a></span>

        <span class="fill-remaining"></span>
        
        <ul *ngIf="!isLoggedIn" class="navbar">
            <li><a routerLink="/login">Inicia sesión</a></li>
            <li><a href="/registrate">Registrate</a></li>
        </ul>
        <div *ngIf="isLoggedIn">
            <span *ngIf="isLoggedIn"><a>{{user.email}}</a></span>
            <button md-icon-button [md-menu-trigger-for]="menu">
                <md-icon>more_vert</md-icon>
            </button>

            <md-menu #menu="mdMenu">
                <button md-menu-item> Configuración </button>
                <button md-menu-item> Ayuda </button>
                <button md-menu-item (click)="logout()"> Cerrar sesión</button>
            </md-menu>
        </div>

    </md-toolbar>
</nav>
<router-outlet></router-outlet>

<footer>
    Mi footer
</footer>