<div class="container">
  <form [formGroup]="eventForm" (ngSubmit)="save()">
    <md-card>
      <md-toolbar color="primary">
        Detalles del evento
      </md-toolbar>
      <md-card-content>
        <md-input class="full-width" placeholder="Nombre del evento" required formControlName="name" dividerColor="{{ errors.name ? 'warn' : 'primary' }}">
          <md-hint [hidden]="!errors.name" align="end">
            <span>{{ errors.name }}</span>
          </md-hint>
        </md-input>
        <md-input class="full-width" placeholder="Una pequeña descripción de {{eventForm.controls.name.value}}" formControlName="description"
          dividerColor="{{ errors.description ? 'warn' : 'primary' }}">
          <md-hint [hidden]="!errors.description" align="end">
            <span>{{ errors.description }}</span>
          </md-hint>
        </md-input>
        <label for="isPublic">Visibilidad:</label>
        <md-radio-group id="isPublic" formControlName="isPublic">
          <md-radio-button value="true">Público (Se publicará este evento en la MyniWorld)</md-radio-button>
          <md-radio-button value="false">Privado (Solo aquellas personas y organizaciones involucradas podrán verlo)</md-radio-button>
        </md-radio-group>
      </md-card-content>
    </md-card>
    <md-card>
      <md-toolbar color="primary">
        Ubicación
      </md-toolbar>
      <md-card-content>
        <label for="map">Haz un click al mapa para indicar donde exactamente sera {{eventForm.controls.name.value}}</label>
        <sebm-google-map id="map" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="mapClicked($event)">
          <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude">
          </sebm-google-map-marker>
        </sebm-google-map>
        <md-input class="full-width" placeholder="Da una referencia del lugar" formControlName="location" dividerColor="{{ errors.location ? 'warn' : 'primary' }}">
          <md-hint [hidden]="!errors.location" align="end">
            <span>{{ errors.location }}</span>
          </md-hint>
        </md-input>

      </md-card-content>
    </md-card>
    <md-card>
      <md-toolbar color="primary">
        Organizadores
      </md-toolbar>
      <md-card-content>
        <md-input placeholder="Búsca por nombre">
          <button md-mini-fab>
            <md-icon class="md-24">add</md-icon>
          </button>
        </md-input>
      </md-card-content>
    </md-card>
    <button md-raised-button [disabled]="!eventForm.valid">Agregar</button>
  </form>
</div>