<md-card>
  <md-toolbar color="primary">
    Inicia sesión en OurEvents
  </md-toolbar>
  <md-card-content>
    <form (ngSubmit)="login()">
      <md-input maxlength="100" name="email" class="full-width"
          placeholder="Correo electrónico" [(ngModel)]="user.email">
      </md-input>
      <md-input maxlength="100" name="password" class="full-width"
          placeholder="Contraseña" [(ngModel)]="user.password">
      </md-input>
      <button md-raised-button>Enviar</button>
    </form>
  </md-card-content>
</md-card>