<div id="register-user" class="jumbotron absolute-background image-background">
    <div class="background black-background"></div>
    <div class="content text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 block-center">
                    <div class="phrase">
                        <h1>Conectate a una red de miles de personas y eventos</h1>
                        <h2>A solo un paso</h2>
                    </div>
                </div>
                <div class="col-lg-6 block-center">
                    <md-card>
                        <md-toolbar color="primary">
                            Registrate
                        </md-toolbar>
                        <md-card-content>
                            <form [formGroup]="userForm" (ngSubmit)="register()">
                                <md-input formControlName="name" class="full-width" placeholder="Nombre" required
                                    dividerColor="{{ errors.name ? 'warn' : 'primary' }}">
                                    <md-hint [hidden]="!errors.name" align="end">
                                        <span>{{ errors.name }}</span>
                                    </md-hint>
                                </md-input>
                                <md-input formControlName="email" type="email" class="full-width" placeholder="Correo electrónico" required
                                    dividerColor="{{ errors.email ? 'warn' : 'primary' }}">
                                    <md-hint [hidden]="!errors.email" align="end">
                                        <span>{{ errors.email }}</span>
                                    </md-hint>
                                </md-input>
                                <md-input formControlName="password" type="password" class="full-width" placeholder="Contraseña" required
                                    dividerColor="{{ errors.password ? 'warn' : 'primary' }}">
                                    <md-hint [hidden]="!errors.password" align="end">
                                        <span>{{ errors.password }}</span>
                                    </md-hint>
                                </md-input>
                                <button md-raised-button [disabled]="!userForm.valid">Enviar</button>
                            </form>
                            <p>Al registrarme, acepto los términos de servicio, la política de privacidad de OurEvents y doy
                                mi consentimiento para que OurEvents me envíe comunicaciones de marketing.</p>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>