<div id="welcome-slide" class="jumbotron absolute-background image-background">
    <div class="background black-background"></div>
    <div class="content text-center">
        <div class="phrase">
            <h1>Eventos para mi, para ti, para todos</h1>
            <h2>Comparte tus eventos con las personas que forman tu minimundo</h2>
            <a routerLink="/eventos" md-raised-button>Empieza ahora</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 block-center">
            <div>
                <h3>Conectate a una red de miles de personas y eventos</h3>
            </div>
        </div>
        <div class="col-lg-6 block-center">
            <div>
                <h3>Conectate a una red de miles de personas y eventos</h3>
            </div>
        </div>
    </div>
</div>